.skillsIcons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
 align-content: center; 
}
.skills{
  background-color:white;
  /* width: 23%; */
  /* height: 100px; */
  margin:10px;
}
.skills img{
   width: 180px;
   height: 180px;

}

.aboutMe {
  
  width: 600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p {
  margin-left: 200px; 
  padding: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
#aboutText{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}
div.pic {
  min-height: 100px;

}
/* .sidebox {
  height: 200px;
  width: 600px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
} */




/* about me */
.text-container {
    position: absolute;
    z-index: 1;
    text-align: center;
}
.pageHeader {
    color:#05445E;
    font-family: 'Old Standard TT', serif;
    font-size: 26px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
p {
    margin: 0 0 10px;
}



body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#D4F1F4;
  }
  header {
    width: 100%;
    padding: 20px 0;
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);  
  }
  .container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
  }
  iframe {
    width:640px;
  }
  .logo-box {
    float: left;
    margin-right: 20px;
    margin-top:5px;
    
  }
  .logo-box a {
    outline: none;
    display: block;
  }
  .logo-box img {display: block;}
  nav {
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
  }
  nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #868686;
    text-transform: uppercase;
  }
  nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #868686;
    transition: width .5s linear;  
  }
  nav a:hover:after {width: 100%;}
  
  @media screen and (max-width: 600px) {
    header {text-align: center;}
    .logo-box {
      float: none;
      display: inline-block;
      margin: 0 0 16px 0;
    }
    ul {float: none;}
    nav li:first-of-type {margin-left: 0;}
  
  .aboutMe{
    width: 80%;
    
  }
  #aboutText{
    font-size: 16px;
  }
  iframe {
    width:80%;
  }
  nav {overflow: visible;}
  nav li {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  nav li:hover {background: rgba(0,0,0,.1);}
  nav a:after {content: none;}
  }
  /* .footer {
      background-color: black;
      padding:20px 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
  } */
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    color: #707070;
    /* height: 2em; */
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
}

  .footer p {
      font-size: 16px;
      padding: 10px;
      margin: 0px;
  }
  /* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li {
    font-size: 25px;
    padding: 10px;
    list-style: none;
}
.footer ul li a {
    margin: 0 10px;
    color:black;
    
}

.fa.fa-linkedin {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}
.projectImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin: 5px;
}
.freebirdFormviewerViewCenteredContent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dev-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.slider{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 10px;
}
